        body{
                background-color:#F0B900;
                font-family: 'Fira Sans', sans-serif;
        }
        .blackbc{
                background-color:#000000;
        }
        .yellowtext{
                color:#F0B900;
        }
         .whitetext{
                color:#ffffff;
        }
        .centertext{
                text-align:center;
        }
        .straplinepadding{
                padding:30px 60px 30px 60px ;
        }
        .fontsize{
                font-size:120px;
        }
