body {
    background-color: #f2ba00;
    font-family:'Fira Sans', sans-serif;
}
.image {
    margin-top: 35px;
    Margin-bottom: 20px;
}
.motto {
    margin-top: 60px;
    font-size: 24px;
    font-weight:bold;
}
.number {
    margin-top: 50px;
    font-size: 34px;
    font-weight:bold;
}
.tshirt {
    margin-top: 60px;
}
.polo {
    margin-top: 60px;
}
.hoodie {
    margin-top: 45px;
}
.jacket {
    margin-top: 60px;
}
.blackdrop {
    border-radius: 0px 0px 7px 7px;
    width: 303px;
}
.quote {
    font-family:'Pacifico', cursive;
    font-size: 27px;
    text-align: center;
    width: 291px;
}
.bold {
    font-weight: bold;
}
.blackback {
    background-color: #1d1d1b;
}
.orangeback {
    background-color: #f2ba00;
}
.whitetext {
    color:#fff;
}
.orange {
    color: #f2ba00;
}
.higher {
    margin-top: -130px;
}
