        body{
                background-color:#F0B900;
                font-family: 'Fira Sans', sans-serif;
        }
        .blackbc{
                background-color:#000000;
        }
        .yellowtext{
                color:#F0B900;
        }
         .whitetext{
                color:#ffffff;
        }
        .centertext{
                text-align:center;
        }
        .padding{
                padding:30px 60px 30px 60px ;
        }
        .fontsize{
                font-size:100px;
        }
        .lefttext{
                text-align:left;
        }
        .margintop{
                margin-top:10px;
        }
        .fontsize2{
                font-size:20px;
        }
        .fontsize3{
                font-size:30px;
        }
        .textright{
                text-align:right;
        }
        .marginleft{
                margin-left:0px;
        }
        .marginright{
                margin-right:0px;
        }
         h1 {
           text-align: center;
       }
       .size {
           width: 100%;
           height: 100%;
       }
        .image {
    margin-bottom: 10px;
    margin-top: 20px;
}
.motto {
           width: 26%;
           height: 2.1%;
           top: 65px;
           left: 474px;
       }
       .number {
           width: 21.7%;
           height: 2.7%;
           top: 54px;
           left: 884px;
       }
       .font{
               font-family: 'Pacifico', cursive;
       }
       .marginleft2{
               margin-left:250px;
       }
