        body{
                background-color:#F0B900;
        }
        
        h1 {
            text-align: center;
        }
        .jumbotron{
                background-color:#000000;
                margin-top:30px;
                font-family:"Helvetica-Neue";
        }
        .CT{
                text-align:center;
        }
        .M{
                margin-left:100px;
        }
        .footer{
                margin-top:20px;
                background-color:#000000;
                color:#ffffff;
                padding:20px 100px 20px 100px;
        }
        .YN{
                color:#ffffff;
        }
        .NT{
                color:#F0B900;
        }
        .PO{
               text-align:right;
               color:#ffffff;
        }
       
