body {
    background-color: #f2ba00;
    font-family: 'Fira Sans', sans-serif;
}
h1 {
    text-align: center;
}
.image {
    margin-top: 25px;
    Margin-bottom: 10px;
}
.motto {
    margin-top: 60px;
    margin-left: -70px;
    font-size: 22px;
    text-align:center;
    font-weight:bold;
}
.number {
    margin-top: 50px;
    margin-left: -10px;
    font-size: 34px;
    text-align:center;
    font-weight:bold;
}
.blackdrop {
    border-radius: 0px 0px 7px 7px;
}
.quote {
    font-family: 'Pacifico', cursive;
    font-size: 27px;
    text-align: center;
}
.bold {
    font-weight: bold;
}
.margin {
    margin-top: 50px;
}
.blackback {
    background-color: #1d1d1b;
}
.orangeback {
    background-color: #f2ba00;
}
.whitetext {
    color:#fff;
}
.orange {
    color: #f2ba00;
}
